@custom-media --small-viewport screen and (min-width: 30em);
@custom-media --large-viewport screen and (min-width: 50em);

:root {
    /* COLORS */
    --black: #070707;
    --white: #ffffff;
    --malachite: #53DD6C;
    --polished-pine: #63A088;
    --vivid-burgundy: #A4303F;
    --deep-champagne: #f2d0a4;
    /* SETTINGS */
    --accent: var(--vivid-burgundy);
    --background-color: var(--black);
    --text-color: var(--white);
    font-size: 20px;
    color: var(--text-color);
    text-transform: lowercase;
    font-family: 'VT323', 'Courier New', Courier, monospace;
}

* {
    text-transform: lowercase;
}

h2 {
    font-size: 2rem;
}

.normal-case {
    text-transform: none;
}

@media (--small-viewport) {
    :root {
        font-size: 20px;
    }
}

@media (--large-viewport) {
    :root {
        font-size: 28px;
    }
}

html, body {
    width: 100%;
    height: 100%;
    background: var(--background-color);
}

.main {
    width: 100%;
    padding: 0 20px;
    margin-block-start: 3em;
    margin-block-end: 5em;

    & h1 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-self: center;
        color: var(--accent);
    }
}

.centering {
    display: block;
    width: 100%;
    max-width: 560px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.spacer {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

h1 {
    font-size: 3rem;
    font-family: 'VCR OSD Mono', 'Courier New', Courier, monospace;
}

:is(h1, h2, h3, h4) .subheading {
    font-size: 0.75em;
}

.center-grid {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: auto;
    align-items: center;
    justify-items: start;
    align-content: center;
    justify-content: center;
}

ul.social-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    font-size: 1.2rem;
    justify-content: center;
}

li.social-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 1ch;
}

a {
    text-decoration: underline var(--accent);
    &, &:active, &:hover {
        color: var(--text-color);
    }
}

article {
    max-width: 800px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

#friends {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-list {
    text-align: center;
}

#ideas {
    & li {
        margin-inline-start: 2ch;
        list-style-type: "- ";
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    & img:not(:first-of-type) {
        margin-inline-start: 1ch;
    }
}

.youtube {
    width: 100%;
    max-width: 560px;
}

#tuesday {
    display: none;
}

#thursday {
    display: none;
}

#mobile-spacer {
    width: 100%;
    height: 10rem;
}
