@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/fonts/vcr/VCROSDMono.woff2') format('woff2'),
        url('/fonts/vcr/VCROSDMono.woff') format('woff'),
        url('/fonts/vcr/VCROSDMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

